.div-default{
	padding: 20px;
	background-color: green;
}

.div-danger {
	background-color: red;
}

.container {
	background-color: blue;
	height:100%;
	position: relative;
	color: white;
}

.container img{
	width: 100%;
}